/* .user-dashboard {
    font-family: Arial, sans-serif;
    margin: 20px;
    position: relative;
  }
  
  h2 {
    color: #333;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .input-wrapper {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 2px solid #4CAF50; 
    outline: none;
    box-sizing: border-box;
    transition: border-bottom 0.3s ease;
  }
  
  input:focus {
    border-bottom: 2px solid #2196F3; 
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  } */
/*   
  button:hover {
    background-color: #45a049;
  } */
  